$font-main: 'Roboto Regular', sans-serif;

// Colors
$bg-light-grey: #f7f9fa;
$bg-white-opacity50: rgba(255,255,255,0.5);
$bg-white: white;
$border-light: #e5e5e5;
$btn-bg-color: #04a862;
$btn-bg-hover-color: #039758;
$btn-light-bg-color:#e9ffe6;
$error-text-color: #ef0734;
$shadow-black-opacity10: rgba(0,0,0,0.1);
$text-main-color: #171717;
$text-white-color: white;

$medium: .3s ease-in-out;
$fast: .15s ease-in-out;

$x-sm: 768px;
$sm: 600px;